<div class="header">
  <div class="header-container">
    <div class="header-container-content">
      <div class="header-container-content-info">
        <span class="header-container-content-info__item">
          (+503) 2255 8955
        </span>
        <span class="header-container-content-info__item">Shop Now!</span>
        <span class="header-container-content-info__item">El Salvador</span>
      </div>
    </div>
  </div>

  <div class="header-container">
    <div class="header-container-content">
      <div class="header-container-content-main">
        <!-- logo -->
        <a
          class="header-container-content-main-logo"
          [routerLink]="['/shop-space/home']"
        >
          <img
            class="header-container-content-main-logo__image"
            src="/assets/images/icons/logo-dark.webp"
            alt="icon"
          />
        </a>
        <!-- items -->
        <div class="header-container-content-main-container">
          <ul class="header-container-content-main-container-list">
            <li
              class="header-container-content-main-container-list-item cursor-pointer"
            >
              <span
                class="header-container-content-main-container-list-item__text"
              >
                Categories
              </span>
            </li>
            <li
              class="header-container-content-main-container-list-item cursor-pointer"
            >
              <span
                class="header-container-content-main-container-list-item__text"
              >
                Deals
              </span>
            </li>
            <li
              class="header-container-content-main-container-list-item cursor-pointer"
            >
              <span
                class="header-container-content-main-container-list-item__text"
              >
                What's New
              </span>
            </li>
          </ul>

          <div>search</div>

          <ul class="header-container-content-main-container-list">
            <li
              class="header-container-content-main-container-list-item cursor-pointer"
            >
              <span
                class="header-container-content-main-container-list-item__text"
              >
                Account
              </span>
            </li>
            <li
              class="header-container-content-main-container-list-item cursor-pointer"
            >
              <span
                class="header-container-content-main-container-list-item__text"
              >
                Cart
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
