<div class="saving-item">
  <div class="saving-item-content">
    <span class="saving-item-content__text">Save</span>
    <span class="saving-item-content__amount">
      <span class="saving-item-content__amount--icon"> $ </span>
      50
    </span>
    <span class="saving-item-content__description">
      Explore Our Furniture & Home Furnishing Range
    </span>
  </div>
  <div class="saving-item-resource">
    <img
      src="https://cdn.prod.website-files.com/63e857eaeaf853471d5335ff/63e8c4e6cd367817e964f756_sofa-min.png"
      loading="lazy"
      alt="save"
      class="saving-item-resource__image"
    />
  </div>
</div>
