@import "variables/variables";

.saving-item {
  border-radius: $border-radius;

  &-content {
    display: flex;
    flex-direction: column;
    padding: 30px;

    &__text {
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: 700;
      color: var(--tertiary-text-color);
    }

    &__amount {
      margin-bottom: 20px;
      font-size: 52px;
      font-weight: 700;
      line-height: 52px;
      color: var(--tertiary-text-color);

      &--icon {
        font-size: 31px;
        line-height: 41px;
        position: relative;
        top: -16px;
      }
    }

    &__description {
      color: var(--secondary-text-color);
      font-size: 16px;
      font-weight: 500;
    }
  }

  &-resource {
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    max-height: 210px;

    &__image {
      width: 100%;
      vertical-align: middle;
      display: inline-block;
      transition: transform 0.4s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
