<div class="service-item">
  <div class="service-item-content">
    <span class="service-item-content__title">
      Frequently asked questions
    </span>
    <span class="service-item-content__description">
      Updates on safe Shopping in our Stores
    </span>
  </div>
  <div class="service-item-resource">
    <img
      src="https://cdn.prod.website-files.com/63e857eaeaf853471d5335ff/63e8c4e55b939fea169c0292_faq-min.png"
      loading="lazy"
      alt="save"
      class="service-item-resource__image"
    />
  </div>
</div>
