$primary-color: #003d29;
$secondary-color: #ffffff;
$tertiary-color: #f5f6f6;
$quaternary-color: #ffe6cc;
$quinary-color: #231f1e;
$senary-color: #e6e6e6;
$septenary-color: #c5c5c5;

$primary-text-color: #003d29;
$secondary-text-color: #231f1e;
$tertiary-text-color: #333333;
$quaternary-text-color: #ffffff;
$quinary-text-color: #000000;
$senary-text-color: #0e0f18;
$septenary-text-color: #aaaaaa;
$octonary-text-color: #f79653;
