<div class="home-view">
  <!-- banner -->
  <div
    class="home-view-banner"
    [ngStyle]="{
      'background-image': 'url(assets/images/shopspace/main.webp)'
    }"
  >
    <div class="home-view-banner-content">
      <h1 class="home-view-banner-content__title">
        shopping and department store.
      </h1>
      <span class="home-view-banner-content__description">
        Shopping is a bit of a relaxing hobby for me, which is sometimes
        troubling for the bank balance.
      </span>
      <ss-button>Learn More</ss-button>
    </div>
  </div>
  <!-- categories -->
  <div class="home-view-categories">
    <span class="home-view-categories__title">Shop our top categories</span>
    <div class="home-view-categories-data">
      <ss-category-item></ss-category-item>
      <ss-category-item></ss-category-item>
      <ss-category-item></ss-category-item>
      <ss-category-item></ss-category-item>
      <ss-category-item></ss-category-item>
      <ss-category-item></ss-category-item>
    </div>
  </div>
</div>
