<div class="home-view">
  <!-- banner -->
  <div
    class="home-view-banner"
    [ngStyle]="{
      'background-image': 'url(assets/images/shopspace/main.webp)'
    }"
  >
    <div class="home-view-banner-content">
      <h1 class="home-view-banner-content__title">
        shopping and department store.
      </h1>
      <span class="home-view-banner-content__description">
        Shopping is a bit of a relaxing hobby for me, which is sometimes
        troubling for the bank balance.
      </span>
      <ss-button>Learn More</ss-button>
    </div>
  </div>
  <!-- categories -->
  <div class="home-view-container">
    <span class="home-view-container__title">Shop our top categories</span>
    <div class="home-view-container-categories">
      <ss-category-item></ss-category-item>
    </div>
  </div>
  <!-- last six products -->
  <div class="home-view-container">
    <span class="home-view-container__title">Todays Best Deals for you!</span>
    <div class="home-view-container-products">
      <app-swiper-products identifier="1"></app-swiper-products>
    </div>
  </div>
  <!-- brands -->
  <div class="home-view-container">
    <span class="home-view-container__title">Choose by Brand</span>
    <div class="home-view-container-brands">
      <app-brand-item></app-brand-item>
    </div>
  </div>
  <!-- discount -->
  <div class="home-view-container">
    <span class="home-view-container__title">Get Up to 70% off</span>
    <div class="home-view-container-discount">
      <app-saving-item></app-saving-item>
    </div>
  </div>
  <!-- Weekly Popular Products -->
  <div class="home-view-container">
    <span class="home-view-container__title">Weekly Popular Products</span>
    <div class="home-view-container-weekly-products">
      <app-swiper-products identifier="2"></app-swiper-products>
    </div>
  </div>
  <!-- banner -->
  <div
    class="home-view-cash-back"
    [ngStyle]="{
      'background-image': 'url(assets/images/shopspace/informative.webp)'
    }"
  >
    <div class="home-view-cash-back-content">
      <div class="home-view-cash-back-content-info">
        <span class="home-view-cash-back-content-info__title">
          Get 5% Cash back on $200
        </span>
        <span class="home-view-cash-back-content-info__description">
          Shopping is a bit of a relaxing hobby for me, which is sometimes
          troubling for the bank balance.
        </span>
      </div>
      <ss-button mode="light">Learn More</ss-button>
    </div>
  </div>
  <!-- filters -->
  <div class="home-view-container">
    <span class="home-view-container__title">Todays Best Deals for you!</span>
    <div class="home-view-container-filters">
      <ss-button mode="static">Gadgets</ss-button>
    </div>
    <div class="home-view-container-leaked-products">
      <ss-product-item></ss-product-item>
    </div>
  </div>
  <!-- Cash back -->
  <div class="home-view-get-cash-back">
    <div class="home-view-get-cash-back-content">
      <span class="home-view-get-cash-back-content__text">
        Get 5% Cash back
      </span>
      <span class="home-view-get-cash-back-content__company">
        on ShopSpace.com
      </span>
      <ss-button>Learn More</ss-button>
    </div>
    <img
      src="assets/images/card/cards-shopspace.webp"
      alt="cards"
      class="home-view-get-cash-back__image"
    />
  </div>
  <!-- Most Selling Products -->
  <div class="home-view-container">
    <span class="home-view-container__title">Most Selling Products</span>
    <div class="home-view-container-most-selling">
      <app-swiper-products identifier="3"></app-swiper-products>
    </div>
  </div>
</div>
