@import "variables/mixins";
@import "variables/variables";

.home-view {
  display: flex;
  flex-direction: column;
  gap: $gap-container;
  padding-bottom: $gap-container;

  &-banner,
  &-container {
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
  }

  &-banner-content,
  &-container {
    gap: 30px;
    display: flex;
    flex-direction: column;
  }

  &-banner {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    @include mq("md") {
      padding-left: $padding-desktop;
      padding-right: $padding-desktop;
    }

    &-content {
      max-width: 430px;

      &__title {
        font-size: 44px;
        line-height: 54px;
        text-transform: capitalize;
        color: var(--primary-text-color);
      }

      &__description {
        font-size: 16px;
        line-height: 26px;
        color: var(--secondary-text-color);
      }
    }
  }

  &-container {
    @include mq("md") {
      padding-left: $padding-desktop;
      padding-right: $padding-desktop;
    }

    &__title {
      color: var(--secondary-text-color);
      text-transform: capitalize;
      font-size: 28px;
      font-weight: 700;
    }

    &-categories,
    &-brands,
    &-discount,
    &-leaked-products {
      grid-row-gap: 16px;
      grid-template-rows: auto;
      grid-auto-columns: 1fr;
      display: grid;
    }

    &-categories {
      grid-column-gap: 23px;
      grid-template-columns: 1fr 1fr;

      @include mq("xs") {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @include mq("sm") {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      @include mq("md") {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }
    }

    &-brands,
    &-discount {
      grid-column-gap: 23px;
      grid-template-columns: 1fr;

      @include mq("xs") {
        grid-template-columns: 1fr 1fr;
      }

      @include mq("md") {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    &-filters {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    &-leaked-products {
      grid-column-gap: 24px;
      grid-template-columns: 1fr 1fr;

      @include mq("md") {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }

  &-cash-back-content,
  &-cash-back-content-info,
  &-get-cash-back-content {
    display: flex;
    flex-direction: column;
  }

  &-cash-back {
    padding: 95px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &-content {
      max-width: 513px;
      padding: 75px 64px;
      background-color: var(--primary-color);
      gap: 50px;
      float: right;

      &-info {
        gap: 12px;

        &__title,
        &__description {
          color: var(--quaternary-text-color);
        }

        &__title {
          font-size: 52px;
          font-weight: 700;
        }

        &__description {
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }

  &-get-cash-back {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 62px 40px;
    background-color: var(--quaternary-color);

    @include mq("md") {
      padding-left: 120px;
      padding-right: 120px;
    }

    &-content {
      gap: 18px;

      &__text {
        text-transform: capitalize;
        font-size: 52px;
        font-weight: 700;
        color: var(--tertiary-text-color);
      }

      &__company {
        font-weight: 500;
        font-size: 20px;
        color: var(--secondary-text-color);
      }
    }

    &__image {
      max-width: 190px;
      display: none;

      @include mq("sm") {
        display: block;
      }

      @media only screen and (min-width: 830px) {
        max-width: 245px;
      }

      @media only screen and (min-width: 1100px) {
        max-width: 345px;
      }
    }
  }
}
