<div class="home-view">
  <!-- banner -->
  <div
    class="home-view-banner"
    [ngStyle]="{
      'background-image': 'url(assets/images/shopspace/main.webp)'
    }"
  >
    <div class="home-view-banner-content">
      <h1 class="home-view-banner-content__title">
        shopping and department store.
      </h1>
      <span class="home-view-banner-content__description">
        Shopping is a bit of a relaxing hobby for me, which is sometimes
        troubling for the bank balance.
      </span>
      <ss-button>Learn More</ss-button>
    </div>
  </div>
  <!-- categories -->
  <div class="home-view-container">
    <span class="home-view-container__title">Shop our top categories</span>
    <div class="home-view-container-categories">
      <ss-category-item></ss-category-item>
    </div>
  </div>
  <!-- last six products -->
  <div class="home-view-container">
    <span class="home-view-container__title">Todays Best Deals for you!</span>
    <div class="home-view-container-products">
      <app-swiper-products></app-swiper-products>
    </div>
  </div>
  <!-- banner -->
  <div
    class="home-view-cash-back"
    [ngStyle]="{
      'background-image': 'url(assets/images/shopspace/informative.webp)'
    }"
  >
    <div class="home-view-cash-back-content">
      <div class="home-view-cash-back-content-info">
        <span class="home-view-cash-back-content-info__title">
          Get 5% Cash back on $200
        </span>
        <span class="home-view-cash-back-content-info__description">
          Shopping is a bit of a relaxing hobby for me, which is sometimes
          troubling for the bank balance.
        </span>
      </div>
      <ss-button>Learn More</ss-button>
    </div>
  </div>
  <!-- filters -->
  <div class="home-view-container">
    <span class="home-view-container__title">Todays Best Deals for you!</span>
    <div class="home-view-container-filters">
      <ss-button mode="static">Gadgets</ss-button>
      <ss-button mode="static">Fashion</ss-button>
      <ss-button mode="static">Toys</ss-button>
    </div>
    <div class="home-view-container-leaked-products">
      <ss-product-item></ss-product-item>
    </div>
  </div>
</div>
