<div class="footer">
  <!-- <div class="footer-first-block">
    <div class="footer-first-block-column"></div>
    <div class="footer-first-block-column"></div>
    <div class="footer-first-block-column"></div>
    <div class="footer-first-block-column"></div>
    <div class="footer-first-block-column"></div>
  </div> -->
  <div class="footer-second-block">
    <span class="footer-second-block__text cursor-pointer">
      Terms of Service
    </span>
    <span class="footer-second-block__text cursor-pointer">
      Privacy & Policy
    </span>
    <span class="footer-second-block__text cursor-pointer">
      All Right reserved by&#32;
      <strong class="footer-second-block__text-developer">
        &#60;&#47;DevJs&#62;
      </strong>
      &#32;&#124;&#32;{{ currentYear }}
    </span>
  </div>
</div>
