<div class="ss-product-item">
  <div class="ss-product-item-resource">
    <img
      alt="product"
      loading="lazy"
      src="https://cdn.prod.website-files.com/63e857eaeaf853471d5335ff/63e8c4e68b497e229146b818_leptop%20sleeve-min.png"
      class="ss-product-item-resource__image"
    />
  </div>
  <div class="ss-product-item-content">
    <div class="ss-product-item-content-info">
      <span class="ss-product-item-content-info__name">
        Laptop sleeve MacBook
      </span>
      <span class="ss-product-item-content-info__price">
        <span class="ss-product-item-content-info__price--icon">$</span>
        59.00
      </span>
    </div>
    <span class="ss-product-item-content__description">
      Organic Cotton, fairtrade certified
    </span>
    <ss-button>Add to Cart</ss-button>
  </div>
</div>
