/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./app/core/theming/colors";
@import "./app/core/theming/scroll-bar";

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --tertiary-color: #{$tertiary-color};
  --quaternary-color: #{$quaternary-color};
  --quinary-color: #{$quinary-color};
  --senary-color: #{$senary-color};
  --septenary-color: #{$septenary-color};

  --primary-text-color: #{$primary-text-color};
  --secondary-text-color: #{$secondary-text-color};
  --tertiary-text-color: #{$tertiary-text-color};
  --quaternary-text-color: #{$quaternary-text-color};
  --quinary-text-color: #{$quinary-text-color};
  --senary-text-color: #{$senary-text-color};
  --septenary-text-color: #{$septenary-text-color};
  --octonary-text-color: #{$octonary-text-color};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat", sans-serif !important;
}

#root {
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}
