<div class="images">
  <div class="images-main">
    <img
      src="https://cdn.prod.website-files.com/63e857eaeaf853471d5335ff/63e8c4e54b76914b262f2448_headphone-min.png"
      alt="product"
      loading="lazy"
      class="images-main__image"
    />
  </div>

  <div class="images-content cursor-pointer">
    <div
      class="images-content-resource cursor-pointer"
      (click)="onSelectImage()"
    >
      <img
        src="https://cdn.prod.website-files.com/63e857eaeaf853471d5335ff/63e8c4e54b76914b262f2448_headphone-min.png"
        alt="product"
        loading="lazy"
        class="images-content-resource__image"
      />
    </div>
  </div>
</div>
